node_modules
.pnp
.pnp.js

# build output
.next/
out/
dist/
build/
.turbo/

# prisma generated clients
packages/*/prisma/generated/

# env
.env
.env*.local

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
coverage/
npm-debug.log*
.vercel

# TanStack Start / Nitro build output
.output/
.tanstack/
